#LoginTable{
    float: left;
}
.box{
    margin-left: 10px;
    margin-right: 30px;
    margin-bottom: 30px;
    padding: 5px;
    border-width: 1px;
    border-style: solid;
    border-color: black;
}
table th{
    background-color: green;
    color: white;
    text-align: center;
}