USE [24jn0209]
GO
/****** Object:  Table [dbo].[Cart]    Script Date: 2025/12/22 9:32:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cart](
	[memberid] [int] NOT NULL,
	[goodscode] [char](5) NOT NULL,
	[num] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[memberid] ASC,
	[goodscode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Goods]    Script Date: 2025/12/22 9:32:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Goods](
	[goodscode] [char](5) NOT NULL,
	[goodsname] [nvarchar](50) NOT NULL,
	[price] [int] NOT NULL,
	[detail] [nvarchar](max) NULL,
	[groupcode] [int] NOT NULL,
	[recommend] [bit] NOT NULL,
	[goodsimage] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[goodscode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GoodsGroup]    Script Date: 2025/12/22 9:32:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GoodsGroup](
	[groupcode] [int] NOT NULL,
	[groupname] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[groupcode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Member]    Script Date: 2025/12/22 9:32:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Member](
	[memberid] [int] IDENTITY(1,1) NOT NULL,
	[email] [varchar](50) NOT NULL,
	[membername] [nvarchar](50) NOT NULL,
	[zipcode] [varchar](8) NOT NULL,
	[address] [nvarchar](100) NOT NULL,
	[tel] [varchar](20) NULL,
	[password] [varchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[memberid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sale]    Script Date: 2025/12/22 9:32:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sale](
	[saleno] [int] IDENTITY(1,1) NOT NULL,
	[saledate] [datetime] NOT NULL,
	[memberid] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[saleno] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SaleDetail]    Script Date: 2025/12/22 9:32:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SaleDetail](
	[saleno] [int] NOT NULL,
	[goodscode] [char](5) NOT NULL,
	[num] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[saleno] ASC,
	[goodscode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Cart]  WITH CHECK ADD FOREIGN KEY([goodscode])
REFERENCES [dbo].[Goods] ([goodscode])
GO
ALTER TABLE [dbo].[Cart]  WITH CHECK ADD FOREIGN KEY([memberid])
REFERENCES [dbo].[Member] ([memberid])
GO
ALTER TABLE [dbo].[Goods]  WITH CHECK ADD FOREIGN KEY([groupcode])
REFERENCES [dbo].[GoodsGroup] ([groupcode])
GO
ALTER TABLE [dbo].[Sale]  WITH CHECK ADD FOREIGN KEY([memberid])
REFERENCES [dbo].[Member] ([memberid])
GO
ALTER TABLE [dbo].[SaleDetail]  WITH CHECK ADD FOREIGN KEY([goodscode])
REFERENCES [dbo].[Goods] ([goodscode])
GO
ALTER TABLE [dbo].[SaleDetail]  WITH CHECK ADD FOREIGN KEY([saleno])
REFERENCES [dbo].[Sale] ([saleno])
GO
ALTER TABLE [dbo].[Cart]  WITH CHECK ADD CHECK  (([num]>(0)))
GO
ALTER TABLE [dbo].[Goods]  WITH CHECK ADD CHECK  (([price]>=(0)))
GO
ALTER TABLE [dbo].[SaleDetail]  WITH CHECK ADD CHECK  (([num]>(0)))
GO
